{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<!-- Header bar with a back link -->
<div class="header-bar">
    <a href="{% url 'tasks' %}">&#8592; Go Back</a> <!-- Link to return to the task list -->
</div>

<div class="card-body">
    <!-- Form for confirming task deletion -->
    <form method="POST">
        {% csrf_token %} <!-- Security token to prevent attacks -->

        <!-- Message confirming deletion -->
        <p>Are you sure you want to delete this task? <b>"{{task}}"</b> </p>

        <!-- Delete button -->
        <input class="button" type="submit" value="Delete" />
    </form>
</div>

{% endblock content %}

<!-- Link to external JavaScript file -->
<script src="{% static 'js/app.js' %}"></script>
